<article class="content-publication">
  <h1>Title: Spring in the garden</h1>

  <p>Number of people shared the publication: {{usersShared.length}}</p>
  <a href="/gallery/{{_id}}/details" class="image-details">View publication</a>
</article>